<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    [ngClass]="{ hidden: !(isHandset$ | async) === true }"
    fixedInViewport="false"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/book" routerLinkActive="active-link"
        >Book List</a
      >
      <a mat-list-item routerLink="/login" routerLinkActive="active-link"
        >Login</a
      >
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>GENQUARE INVENTORY</span>
      <div class="spacer"></div>
      <div class="main_toolbar_links" [hidden]="isHandset$ | async">
        <a
          routerLink="/book"
          routerLinkActive="active-link"
          class="main_toolbar_link"
          >Book list</a
        >
        <a
          routerLink="/login"
          routerLinkActive="active-link"
          class="main_toolbar_link"
          >Login</a
        >
      </div>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
