<div class="form div mat-elevation-z8">
  <mat-toolbar color="primary">Add Book</mat-toolbar>
  <form novalidate [formGroup]="bookForm" #bookform (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline">
      <mat-label>SkuId</mat-label>
      <input matInput placeholder="Enter the skuId" formControlName="skuId" />
      <mat-error *ngIf="formErrors.skuId">{{ formErrors.skuId }}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input
        matInput
        placeholder="Enter the name of book"
        formControlName="name"
      />
      <mat-error *ngIf="formErrors.name">{{ formErrors.name }}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Stocks</mat-label>
      <input
        matInput
        placeholder="Enter the current stock of book"
        formControlName="stocks"
        pattern="[0-9]*"
      />
      <mat-error *ngIf="formErrors.stocks">{{ formErrors.stocks }}</mat-error>
    </mat-form-field>
    <br />
    <button
      type="submit"
      [disabled]="bookForm.invalid"
      mat-raised-button
      color="primary"
    >
      Add Book
    </button>
  </form>
</div>
<div class="addingSpinner" *ngIf="!hideAddSpinner">
  <img src="../../assets/images/Bean Eater-1s-50px.gif" alt="loading" />
</div>
